@import './components/AppointmentsHistorialPage.scss';
@import './components/NewAppointmentForm.scss';

:root{
    --color-primary: #70348A
    --color-secondary: #F58524
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #6c3483; /* Morado */
        color: #fff;
      }
}


