@use './components/AppointmentsHistorialPage.scss';
@use './components/NewAppointmentForm.scss';
@use './components/NavBar.scss';
@use './components/Footer.scss';
@use "./components/Admin.scss";

:root{
  --color-primary: #70348A;
  --color-secondary: #F58524;
  --primary-orange: #f39c12;
  --dark-orange: #e67e22;
  --dark-bg: #121212;
  --dark-text: #ffffff;

  --light-bg: #e8ebf5; /* Fondo claro */
  --light-text: #333; /* Texto oscuro */
  --light-header-bg: #fff; /* Fondo claro para los encabezados */
  --light-border: #ddd; /* Color de borde claro */
  --light-day-bg: #fff; /* Fondo para los días */
  --light-disabled-bg: #f4f4f4; /* Fondo de días deshabilitados */
  --light-selected-bg: #fcf2f2; /* Fondo de días seleccionados */

  /* Colores para Dark Mode */
  --dark-bg: #121212;
  --dark-text: #ffffff;
  --dark-header-bg: #2c2c2c; /* Fondo oscuro para encabezados */
  --dark-border: #555;
  --dark-day-bg: #333; /* Fondo oscuro para los días */
  --dark-disabled-bg: #444; /* Fondo de días deshabilitados */
  --dark-selected-bg: #f56363; /* Fondo de días seleccionados */

    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #6c3483; /* Morado */
        color: #fff;
      }
      * {
        transition: all 0.3s ease;
      }
      
.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}
}